fastapi
uvicorn
python-dotenv
python-multipart
langchain
langgraph

langchain-community
langchain-core
langchain-text-splitters
langchain-chroma

chromadb

sentence-transformers

groq

ollama

pypdf

python-docx

sqlalchemy
pymysql

pydantic